body {
    margin: 0;
    padding: 0;
    font-family: "georgia", sans-serif;
    background: linear-gradient(to right, #091366, #060e28);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #886ab5;
    text-shadow: 2px 2px 2px white;
}

.me {
    font-size: 2rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}

#about {
    min-height: 100vh;
    padding-top: 1.5rem;
}

#about h2 {
    text-align: center;
    margin-top: 1.5rem;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.text {
    margin-top: 4rem;
}

.about-heading p {
    font-size: 24px;
    margin: 0;
}

.about-heading .my-name {
    font-size: 36px;
    margin-bottom: 1rem;
    color: #886ab5;
}

.photo img {
    width: 20vw;
    height: auto;
    border-radius: 25%;
}

.photo {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glow 5000ms infinite;
}

@keyframes glow {
    0%, 50%, 100% {
        box-shadow: 0 8px 8px 3px #886ab5;
    }
    25%, 75% {
        box-shadow: none;
    }
}

.about-para {
    font-size: 18px;
    margin-bottom: 3rem;
    line-height: 1.5rem;
}

.about-para span {
    color: #886ab5;
    font-size: 24px;
}

.skills {
    font-size: 18px;
    margin-top: 5rem;
}

.skills h3 {
    color: #886ab5;
}

#projects h2 {
    text-align: center;
}

.project-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 1fr;
   gap: 1.5rem;
   padding: 1.5rem;
}


.project-items {
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 10px #886ab5;
    width: 25vw;
    text-align: center;
    font-size: 18px;
}

.project-items img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.project-items a {
    margin-right: 25px;
    color: aqua;
}

.project-items button {
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
}

.project-items button a {
    text-decoration: none;
    color: #886ab5;
}

.details {
    color: #886ab5;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 20px;
}

footer h2 {
    margin-top: 50px;
}

.footer-links {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.footer-links i {
    font-size: 2rem;
    color: white;
}

.fa-github:hover {
    transform: translateY(-10px);
}

.fa-linkedin:hover {
    transform: translateY(-10px);
}

.fa-envelope:hover::after {
    content: " seejunlong2012@gmail.com";
    font-size: 14px;
}